.introduction {
    text-align: center;
}

/* Style the section headings */
section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: rgb(50,100,250);
}
.skills {
    font-weight: bold;
    color: rgb(100,100,250);
}

.skills p {
    font-weight: normal;
    color: rgb(150,220,100,1);

}

/* Style the skills text */
.skills-text {

    border: 1px dashed #ccc; /* Add a 1px gray border around each section */
    margin-bottom: 15px;
    padding-inline: 20px;
}
section .Skills {
    border: 2px solid black;
}

/* Optionally, you can remove the border from the last section to avoid extra spacing */
section:last-child {
    border: none;
}