<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>about</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">

</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="/landing">HOME</a>
            </li>
            <li>
                <a href="/projects">MY PROJECTS</a>
            </li>
            <li>
                <a href="/about">ABOUT</a>
            </li>
            <li>
                <a href="/landing">CONTACT</a>
            </li>
        </ul>
    </nav>
</header>


<main>
    <!-- about  -->
    <section>
        <div class="articleText">
            <h2 style="text-align:center">I&#39;m Dawid and I&#39;m junior Java developer.</h2>
            <p>I'm father of two. And I got 10 year of experience in HoReCa industry.</p>
            <p>To let me improve and experience more challenges I decided to give it a try and become a software developer</p>

            <p>PERSONAL INFORMATION</p>
            <p>Name: Dawid Maroń</p>
            <p>Birth: 1994</p>
            <p>Current job: Junior Software Developer (Java)</p>


            <p>Work in HoReCa helped me to develop soft skills that I can use for both staff and clients. I acquired also work, human and workload management skills.</p>
            <div class="horeca-work-experience">
                <ul>
                    <li>
                        <p>Barback</p>
                    </li>
                    <li>
                        <p>Bartender</p>
                    </li>
                    <li>
                        <p>Server</p>
                    </li>
                    <li>
                        <p>Barista</p>
                    </li>
                    <li>
                        <p>Flair Bartender</p>
                    </li>
                    <li>
                        <p>Mixologist</p>
                    </li>
                    <li>
                        <p>Operation Manager</p>
                    </li>
                    <li>
                        <p>General Manager</p>
                    </li>
                </ul>
            </div>

            <p>PERSONAL STORY</p>
            <p>I was born in 1994. I did study Business and Finance Management in Jagiellonian University in Cracow in Poland.
                Unfortunately I had to quit because of my own financial problems</p>
            <p>My ultimate goal is to set up my own business and provide a professional service.</p>
            <p>With very small working experience I found job in HoReCa industry in one of the restaurant located in Cracow as a BoH employee.</p>
            <p>For the next 10 years I was switching between BoH and FoH but gradually gaining experience and moving to better positions</p>
            <p>During that time I met my future wife. Which made me think about setting family. Around that time I noticed how unhealthy is this industry</p>
            <p>Almost no work-life balance, working between full-time and 1.5-time each month. Heavy savings on employees by the employer. All holidays like Christmas, NYE are work days</p>
            <p>I reached peak for me which was managing one of the best cocktail-bars in Cracow and I said to myself enough.</p>
            <p>I decided to switch to more family friendly industry, which will value an employee. A couple of years before I already started to learn Java so that step was planned beforehand </p>
            <p>HoReCa work experience</p>
            <p>I did find a job as Junior Software Developer in Comarch.</p>
            <p>I'm pretty happy about the opportunity I could work for large company.</p>
            <p>Around me are plenty of experienced and professional staff members that may help me and I can learn from.</p>

        </div>
    </section>
</main>

</body>
<footer class="footer">
    <p>Author: Dawid Maroń</p>
    <p><a href="mailto:daw.maron.business@gmail.com">daw.maron.business@gmail.com</a></p>
</footer>
</html>