<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>about</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">

</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="/landing">HOME</a>
            </li>
            <li>
                <a href="/landing">MY PROJECTS</a>
            </li>
            <li>
                <a href="/skills">SKILLS</a>
            </li>
            <li>
                <a href="/about">ABOUT</a>
            </li>
            <li>
                <a href="/landing">CONTACT</a>
            </li>
        </ul>
    </nav>
</header>


<main>
    <!-- about  -->
    <section>
        <div class="articleText">
            <h2 style="text-align:center">I&#39;m Dawid and I&#39;m junior Java developer.</h2>
            <p>I'm father of two. And I got 10 year of experience in HoReCa industry.</p>
            <p>To let me improve and experience more challenges I decided to give it a try and become a software developer</p>
        </div>
    </section>
</main>



</body>
<footer class="footer">
    <p>Author: Dawid Maroń</p>
    <p><a href="mailto:daw.maron.business@gmail.com">daw.maron.business@gmail.com</a></p>
</footer>
</html>