<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>landing-page</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
</head>
<body>
<div class = "navigator">
    <table align="center" border="1" cellpadding="1" cellspacing="1" style="width:500px">
        <tbody>
        <tr>
            <td style="text-align:center; width:120px"><a href="/landing">HOME</a></td>
            <td style="text-align:center; width:135px">MY PROJECTS</td>
            <td style="text-align:center; width:118px"><a href="/skills">SKILLS</a></td>
            <td style="text-align:center; width:103px"><a href="/about">ABOUT</a></td>
            <td style="text-align:center; width:103px">CONTACT</td>
        </tr>
        </tbody>
    </table>
</div>

<h1 style="text-align:center">&nbsp;</h1>

<h1 style="text-align:center"><span style="font-size:24px"><span style="font-family:Times New Roman,Times,serif"><em>Hi. I&#39;m Dawid and this is my web page.</em></span></span>
</h1>
</body>
<footer class="footer">
    <p>Author: Dawid Maroń</p>
    <p><a href="mailto:daw.maron.business@gmail.com">daw.maron.business@gmail.com</a></p>
</footer>
</html>