<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>projects</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
</head>
<body>

<header>
    <nav>
        <ul>
            <li>
                <a href="/landing">HOME</a>
            </li>
            <li>
                <a href="/projects">MY PROJECTS</a>
            </li>
            <li>
                <a href="/about">ABOUT</a>
            </li>
            <li>
                <a href="/landing">CONTACT</a>
            </li>
        </ul>
    </nav>
</header>

<main>
    <!-- Projects part -->
    <section class="Projects">
        <h2>My Projects</h2>
        <div>
            <h3>Project X</h3>
            <img src="xproject.jpg" alt="Project X" width="150" height="150">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac feugiat tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare libero vitae varius condimentum </p>
            <div class="technologies">
                <ul>
                    <li>
                        <p>Java</p>
                    </li>
                    <li>
                        <p>Elasticsearch</p>
                    </li>
                    <li>
                        <p>Docker</p>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <h3>Project Y</h3>
            <img src="Rubber-duck.jpg" alt="Project Y" width="150" height="150">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac feugiat tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare libero vitae varius condimentum </p>
            <div class="technologies">
                <ul>
                    <li>
                        <p>Java</p>
                    </li>
                    <li>
                        <p>HTML</p>
                    </li>
                    <li>
                        <p>CSS</p>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <h3>Billing System</h3>
            <img src="question_mark.jpg" alt="NDA project" width="150" height="150">
            <p>Unfortunately, I cannot give any info because of NDA. </p>
            <div class="technologies">
                <ul>
                    <li>
                        <p>NDA</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>


</main>

<footer class="footer">
    <p>Author: Dawid Maroń</p>
    <p><a href="mailto:daw.maron.business@gmail.com">daw.maron.business@gmail.com</a></p>
</footer>
</body>
</html>